/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.script-runner-row-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.script-runner-expand {
	flex: 1;
}

.script-runner-settings-group {
	padding: 0.75em 0;
	border-top: 1px solid var(--background-modifier-border);
}

.script-runner-settings-group > :first-child {
	margin-top: 0;
}

.script-runner-settings-group > :last-child {
	margin-bottom: 0;
}

.script-runner-settings-group > .setting-item {
	margin: 0;
	padding: 0.25em;
	border: none;
}

code.script-runner-error-ui {
	color: var(--color-red);
}

.script-runner-trace-console {
	color: var(--color-blue);
}

.script-runner-warn-console {
	color: var(--color-orange);
}

.script-runner-error-console {
	color: var(--color-red);
}
